{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-6">
    <ul class="list-unstyled">
        {% for camera in cameras %}
        <li>
          <p>Name: <a href={% url 'cameraEdit' pk=camera.pk  %}>{{ camera.description }} </a></p> 
          <div class="btn-group btn-group-lg btn-responsive" href="{% url 'cameraEdit' pk=camera.pk%}">


                         
                        <button class="btn btn-default" href="{% url 'cameraEdit' pk=camera.pk %}" type="button">
                            <em class="glyphicon glyphicon-lock"></em> Armed
                        </button> 
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-unlock"></em> Unarm
                        </button> 

            </div>
        </li>
        {% empty %}
        <p>No camera configured.</p>
        {% endfor %}
    </ul>
</div>  
    
{% endblock %}