{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<form action="/camera/saveCamera/" method="POST">{% csrf_token %}

<div data-role="fieldcontain">
        <label for="Description">Description: </label><input type="text" name="description" id="description" value="" />
        <label for="Mac">Mac address: </label><input type="text" name="mac" id="mac" value="" />
    </div>
    
    <button type="submit" name="submit" value="submit-value">Save</button>
</form>

<h2>Mac format:</h2>
<p>xx:xx:xx:xx:xx:xx</p>

{% endblock %}