{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<form action="/camera/saveCamera/" method="POST">{% csrf_token %}

    <div data-role="fieldcontain">
            <input type=hidden name="editType" id="editType" value="{{editType}}" />
            <input type=hidden name="cameraId" id="cameraId" value="{{cameraId}}" />
            <p><label for="Description">Description:  </label><input type="text" name="description" id="description" value="{{description}}" /></p>
            <p><label for="Mac">Mac address:  </label><input data-toggle="tooltip" title="Mac format: xx:xx:xx:xx:xx:xx" type="text" name="mac" id="mac" value="{{mac}}" /></p>
    </div>
    {% if editType == 'new' %}
    <button class="btn btn-lg btn-responsive btn-primary" type="submit" name="submit" value="submit-value">Save</button>
    {% else %}
    <button class="btn btn-lg btn-responsive btn-primary" type="submit" name="submit" value="submit-value">Update</button>
    {% endif %}
    <a href="/camera/cameraSettings" class="btn btn-lg btn-responsive btn-secondary">Cancel</a>
</form>

{% endblock %}