{% extends 'base.html' %}
{% load staticfiles %}

{% block myscript %}
<script type="text/javascript">
    {% for camera in cameras %}
        var securityStatus={{camera.securityStatus}};
        $('.camera{{camera.pk}} button').eq(securityStatus).addClass("active");
        
        $('.camera{{camera.pk}} button').on('click', function(e) {
            $('.camera{{camera.pk}} button').not(this).removeClass("active");
            $(this).addClass("active");
            var btnActive = $('.camera{{camera.pk}} button.active');
            
            $.ajax({
            url: 'cameraArming',
            type: 'get',
            data: {'cameraId': '{{camera.pk}}', 'status': btnActive.index()
            },
            dataType: 'json',

            success: function(data){
               // alert(data.attribute);
            },
            
            failure: function(data){
                alert('Got an error');
            },
            
            complete : function(data){
                //console.log("Ajax: no data from backend");

       }
        });
        })
    {% endfor %}
</script>
{% endblock %}



{% block content %}

<div class="col-md-6">
    <ul class="list-unstyled">
        {% for camera in cameras %}
        <li>
          <p>Name: <a href={% url 'cameraEdit' pk=camera.pk  %}>{{ camera.description }} </a></p> 
          
          <div class="camera{{camera.pk}} btn-group-lg btn-responsive">                        
                        
                        <button class="btn btn-default" type="button">
                            <em class="fa fa-unlock"></em> Unarm
                        </button> 
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-lock"></em> Armed
                        </button> 
            </div>
            <br>
        </li>
        {% empty %}
        <p>No camera configured.</p>
        {% endfor %}
    </ul>
</div>  
    
{% endblock %}