{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-6">

     <table class="table table-striped" id="table">

        <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>MAC</th>
        <th>Delete</th>


      </tr>
    </thead>
    
     <tbody>
        {% for gw in gateways %}
        <tr>       
            <td>
                {% if gw.status %}
                    <img class="img-responsive bullet-responsive" src={% static "images/Green1.png" %} alt="Nok">
                {% else %}
                    <img class="img-responsive bullet-responsive" src={% static "images/Red1.png" %} alt="Ok">
                {% endif %}
            </td> 
            
            <td> Gateway from {{ gw.userWEB }} </td>
            <td> {{ gw.mac }} </td>
            <td> 
                <a class="btn btn-responsive btn-responsive1" href="{% url 'gateway_delete' pk=gw.pk %}"><span class="fa fa-trash"></span></a>
            </td>
        </tr>                

        {% empty %}
          <p>No gateway configured.</p>
        {% endfor %}
     </tbody>
   

</div>  
    
{% endblock %}
