{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-6">

     <table class="table table-striped" id="table">

        <thead>
      <tr>
        <th>Owner</th>
        <th>Description</th>
        <th>MAC</th>
        <th>Status</th>

      </tr>
    </thead>
    
     <tbody>
        {% for gw in gateways %}
        <tr>       
            
            <td> {{ gw.userWEB.username }} </td>
            <td> {{ gw.description }} </td>
            <td> {{ gw.mac }} </td>
                        <td>
                {% if gw.status %}
                    <img class="img-responsive bullet-responsive" src={% static "images/Green1.png" %} alt="Nok">
                {% else %}
                    <img class="img-responsive bullet-responsive" src={% static "images/Red1.png" %} alt="Ok">
                {% endif %}
            </td> 
            

        </tr>                

        {% empty %}
          <p>No gateway configured.</p>
        {% endfor %}
     </tbody>
   

</div>  
    
{% endblock %}
