{% extends 'base.html' %}



{% block myscript %}
<script type="text/javascript">



$('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active'); 
    $(this).find('.btn').toggleClass('btn-primary');

 
    $.ajax({
        url: 'smartplug/cmd',
        type: 'get',
        data: {
            'btnActive': ($(this).find('.btn-primary').attr('id'))
        },
        dataType: 'json',

        success: function(data){
//            alert(data.attribute);
        },
        
        failure: function(data){
            alert('Got an error');
        },
        
        complete : function(data){
            console.log("Ajax: no data from backend");

        }
    });
 
// for debug purpose
//    var param = 'Button ID = '+($(this).find('.btn-primary').attr('id'));
//    $('#texteJQ').html(param); 
    
});
  
  
</script>
{% endblock %}



{% block content %}
{% load staticfiles %}

<div class="col-md-6">
    <ul class="list-unstyled">
        {% for splug in smartplug_list %}
        <li>
            <HR>
            <p> Name: {{ splug.name }}, ON-OFF = {{ splug.status_switch }}, Power = {{ splug.status_power }} W&nbsp; 
                <div class="btn-group btn-toggle">
                    {% if splug.status_switch == "1" %}
                        <button class="btn btn-primary btn-responsive" id="{{splug.no}}_ON" > ON  </button>
                        <button class="btn btn-responsive" id="{{splug.no}}_OFF" > OFF </button>
                    {% else %}
                        <button class="btn btn-responsive" id="{{splug.no}}_ON" > ON  </button>
                        <button class="btn btn-primary btn-responsive" id="{{splug.no}}_OFF" > OFF </button>
                    {% endif %}
                    
                </div>
            </p>
            </HR>

       </li>

        {% empty %}
          <p>No smartplug found</p>
        {% endfor %}
        
    </ul>
  
</div>  

<!--     
<div class="col-md-7">
        <span id="texteJQ"></span>
</div> 
-->
   
{% endblock %}
