{% extends 'base.html' %}

{% block content %}


<div class="col-md-6">
  <ul class="list-unstyled">
   <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>Enabled</th>
          <th><br>
          </th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
 
        <tr>
          <td class="align-middle"> {{ user.index_usr }} </td>
          <td class="align-middle"> <a href={% url 'user_edit' pk=user.pk %}> {{user.name}} </a> </td>  
          <td class="align-middle"> {{user.latch}} </td>   
        </tr>

        {% empty %}
          <p>No user found.</p>
        {% endfor %}
    
      </tbody>
      
    </table>

  </ul>
</div>

{% endblock %}


