{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-6">
    <ul class="list-unstyled">
        {% for gw in gateways %}
        <li>
          <p>Gateway from {{ gw.userID }} : {{ gw.mac }}  :
            <a class="btn btn-default" href="{% url 'gateway_delete' pk=gw.pk %}"><span class="glyphicon glyphicon-trash"></span></a> 
            </p>                
        </li>
        {% empty %}
          <p>No gateway configured.</p>
        {% endfor %}
    </ul>
</div>  
    
{% endblock %}
