{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div class="col-md-6">
    <ul class="list-unstyled">
        {% for sensor in sensors %}
        <li>
          <p><a href={% url 'sensor_modify' pk=sensor.pk  %}> <img src="{% static 'images/'%}{{sensor.ico}}"/> Name: {{ sensor.name }}  </a> 
            <a class="btn btn-default" href="{% url 'sensor_delete' pk=sensor.pk %}"><span class="glyphicon glyphicon-trash"></span></a> 
            </p>                
        </li>
        {% empty %}
          <p>No sensor found.</p>
        {% endfor %}
        
    </ul>
</div>  
    
{% endblock %}
